{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Font Awesome -->

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">


  <link rel="stylesheet" href="{% static 'css/all.css' %}">
</head>
<body>
<!-- Header -->
  {%  include 'partials/_head.html' %}

<!-- Navbar-->
  {%  include 'partials/_navbar.html' %}

<!-- Main Content -->
    {% block content %}

    {% endblock %}


</body>
</html>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js '%}'"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js '%"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js'%}"></script>
